body {
    display: flex;
    flex-direction: column;

    position: relative;

    min-height: 100vh;

    padding: 0px;
    margin: 0px;

    /*background: url("../Images/WebsiteBackground\(Concept\).jpg") no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Code above will make the background image only cover the content of the page; */

    background-color: rgb(11, 11, 15);

    color: rgb(237, 237, 238);

    font-family: sans-serif;
}

#content {
    margin: 1rem;
}