#NavMenu {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    background-color: rgb(50, 50, 55);
}

#NavMenu > .Content {
    position: fixed;
    background-color: orange;
    top: 0;
    left: var(--menuLeft);
    width: 20vw;
    min-width: fit-content;
    max-width: 250px;
    height: 100vh;
    min-height: fit-content;

    pointer-events: stroke;

    z-index: 0;

    transition: left 450ms var(--easeDirection);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.MenuLink > a {
    padding: 1rem;

    transition: color 500ms ease-in-out;
}

.MenuLink > a:link {
    text-decoration: none;

    color: rgb(100, 60, 255);
}

.MenuLink > a:visited {
    text-decoration: none;

    color: rgb(100, 60, 255);
}

.MenuLink > a:hover {
    text-decoration: none;

    color: rgb(150, 110, 255);
}

.MenuLink > a:active {
    text-decoration: none;

    color: rgb(100, 60, 255);
}

#OutsideLinks {
    display: flex;
    flex-direction: row;
}

#Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(100, 60, 255);
    padding: max(2vh, 8px);
    margin: 0px;

    width: 100vw;

    position: fixed;
    z-index: 2;
}

#NavMenuOpen {
    transition: transform 300ms ease-out, color 250ms ease-in;

    z-index: 3;
}

#NavMenuOpen:hover {
    transform: scale(1.1);

    color: rgb(255, 100, 20);
}