:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --grey-bg: rgb(40, 40, 45);
    --purple: 136, 48, 164;
    --spacing: 55px;
    --hover-transition-time: 500ms;
  
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
}
  
body {
    padding: 0;
    margin: 0;

    background-color: var(--grey-bg);

    max-width: 100%;

    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-x: hidden;
}
  
body::-webkit-scrollbar {
    display: none;
}

#ContentWrapper {
    width: 100%;

    display: flex;

    justify-content: center;

    margin: 0;
    padding: 0;
}  

main {
    width: 100vw;
    max-width: fit-content;
    color: white;
    margin: 0px 30px;
    padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
  
h1 {
    font-size: 5rem;
    margin: .7rem .5rem;
    text-align: center;
}

section > h2 {
    border-bottom: .3rem solid rgba(var(--purple), 0.7);
}

h1, h2, h3 {    
    font-weight: 700;
    font-style: normal;
}

.smaller {
    font-size: 3rem;
}

img {
    transition: opacity var(--hover-transition-time) ease-in-out;
}

.HoverFocus {
    margin: .7rem 2rem;
}

.HoverFocus > a, .HoverFocus > a:link, .HoverFocus > a:visited, .HoverFocus > a:active {
    text-decoration: none;
    color: white;

    border-bottom: .5rem solid transparent;

    transition: border-color var(--hover-transition-time) ease-in-out;

    margin: .5rem, .1rem;

    background: linear-gradient(
        to right,
        rgb(var(--purple)),
        rgb(112, 80, 166),
        rgb(190, 101, 190),
        rgb(var(--purple))
    );
    background-size: 200%;

    animation: BackgroundScrollAnim 3s linear infinite;
    animation-play-state: paused;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.HoverFocus > a:hover {
    animation-play-state: running;

    border-color: rgb(var(--purple));
}

header {
    place-self: center;

    display: flex;
    align-items: center;

    flex-wrap: wrap;

    background: var(--dark-bg);
    min-width: fit-content;
    grid-column: 3 / span 8;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}

header > div {
    width: 100%;
}

#HeaderDiv {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    width: 100%;
}

h1, .smaller {
    transition: opacity var(--hover-transition-time) ease-in-out;
}

header:has(.HoverFocus:hover) h1:not(.HoverFocus:hover) {
    opacity: 0.2;
}

header:has(.HoverFocus:hover) img {
    opacity: 0.2;
}

#Skills {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

#Links {
    width: 100%;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}
  
section {
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);

    transition: opacity 500ms, scale 500ms;
}

main:has(section:hover) section:not(section:hover) {
    opacity: .4;
}

section:hover {
    scale: 105%;
}

.left {
    grid-column: 1 / 7;
}

.right {
    grid-column: 6 / 13;
}

.seperator {
    grid-column: span 13;
}

.Experience > li {
    list-style-type: none;
}

@media only screen and (max-width: 95rem) {
    #HeaderDiv {
        flex-direction: column;

        justify-content: center;
    }
}

@keyframes BackgroundScrollAnim {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
