:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 55px;
  
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
}
  
  
main {
    width: 100vw;
    max-width: 100%;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
  
h1, h2, h3 {
    font-weight: 700;
    font-style: normal;
}
  
  
  
header {
    display: flex;
    align-items: center;

    background: var(--dark-bg);
    grid-column: 3 / span 7;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}
  
section {
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}
  
.left {
    grid-column: 1 / 6;
}

.right {
    grid-column: 6 / 12;
}

.seperator {
    grid-column: span 12;
}

.Experience > li {
    list-style-type: none;
}