:root {
    --dark-bg-no-a: rgba(12, 12, 12);
}

.Content {
    position: fixed;
    background-color: var(--dark-bg-no-a);
    top: 0;

    padding-left: 1.5rem;
    
    transform: translate(var(--menuLeft));

    width: 20vw;
    min-width: fit-content;
    max-width: 250px;
    height: 100vh;
    min-height: fit-content;

    pointer-events: stroke;

    z-index: 1;

    transition: transform 450ms var(--easeDirection);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.MenuLink > a {
    padding: 1rem;

    transition: color 500ms ease-in-out;
}

.MenuLink > a:link {
    text-decoration: none;

    color: rgb(100, 60, 255);
}

.MenuLink > a:visited {
    text-decoration: none;

    color: rgb(100, 60, 255);
}

.MenuLink > a:hover {
    text-decoration: none;

    color: rgb(var(--purple));
}

.MenuLink > a:active {
    text-decoration: none;

    color: rgb(100, 60, 255);
}

#OutsideLinks {
    display: flex;
    flex-direction: row;
}

#NavMenuOpen {
    position: fixed;

    color: hsl(var(--purple));

    transition: color 250ms ease-in, scale 300ms ease-out, transform 300ms ease-out;

    z-index: 99;

    transform: translate(.5rem, 1rem);

    margin: 20px;
}

#NavMenuOpen:hover {
    transform: translate(.5rem, .85rem);

    scale: 120%;

    color: rgb(190, 101, 190);

    z-index: 99;
}

#NavMenuOpen:active {
    transform: translate(.5rem, .85rem);

    transition: scale 100ms ease-out;

    scale: 100%;
}

@media only screen and (max-width: 50rem) {
    .Content {
        width: 100vw;
        max-width: none;

        height: 20vh;

        transform: translate(0, var(--menuLeft));

        flex-direction: row;

        align-items: center;
    }

    #OutsideLinks {
        height: 100%;

        flex-direction: column;

        justify-content: space-around;
    }
}