<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>"Post Name"</title>

        <script src="https://kit.fontawesome.com/39cedbd120.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="../../css/NavStylesheet.css">
        <link rel="stylesheet" href="../../css/GeneralStylesheet.css">
    </head>
    <body>
        <div style="background-color: rgba(44, 44, 44, .5); height: 100vh; width: 100vw;">
            <nav id="NavMenu">
                <div class="Content">
                    <h2 class="MenuLink"><a href="../site/index.html">Home</a></h2>
                    <h2 class="MenuLink"><a href="../site/Blog.html">Blog</a></h2>
                    <!--<h2 class="MenuLink"><a href="../site/contact.html">Contact</a></h2> placeholder in case of future expanstion-->
                    <div id="OutsideLinks">
                        <div class="MenuLink" id="Github">
                            <a href="https://www.github.com/ToasterVan" target="_blank">
                                <i class="fab fa-github-square fa-2xl"></i>
                            </a>
                        </div>
                        <div class="MenuLink" id="Twitter">
                            <a href="https://www.twitter.com/_ToasterVan" target="_blank">
                                <i class="fab fa-twitter fa-2xl"></i>
                            </a>
                        </div>
                        <div class="MenuLink" id="placeholder2">
                            <a href="https://www.twitch.tv/ToasterVan" target="_blank">
                                <i class="fab fa-twitch fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <i class="fa-solid fa-bars-staggered fa-2xl" id="NavMenuOpen" onclick="ChangeNavMenu()" style="margin: 20px;"></i>
                <div style="width: 200px; display: flex; flex-direction: row;">
                    <h2 style="color: rgb(100, 60, 255); margin-right: 20px; font-family: monospace;">ToasterVan</h2>
                    <img src="../../images/ToasterVan.jpg" alt="ToasterVan" style="width: 25%;">
                </div>
                <script src="../../js/NavScript.js"></script>
            </nav>
            <div id="content">
            
            </div>
        </div>
    </body>
</html>